/* For Main App */
.app {
    text-align: center;
    height: 200px;
    position: relative;
    background-image: url('bg.jpg');
    /* background-size: 130%; */
    background-attachment: fixed;
    /* background-color: rgb(73, 85, 150); */
    height: 100vh;
    font-size:20px;
    background-repeat:no-repeat; 
  }
  
  /* For Main Container Body */
  .container{
    backdrop-filter: blur(9px);
    padding: 50px;
    border-radius: 30px;
    border-style: ridge;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  /* For Heading */
  .app h1{
    color:  rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 50px;
    font-weight: 800;
  }
  
  /* For "Select Operator" Text */
  .app p{
    align-items: center;
    font-weight: 800;
    font-size: 35px;
    color: rgb(252, 252, 252);
    -webkit-text-stroke: 1px rgb(12, 1, 22);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  /* For Input Box */
  .app .textBox {
    width: 250px;
    height: 40px;
    border: 1px black;
    border-radius: 30px;
    text-align: center;
    font-size: large;
    margin: 20px;
  }
  
  /* For Emoji Operator Dropdown Box */
  .app .op {
    width: 60px;
    height: 35px;
    align-self: center;
    border-radius: 30px;
  }
  
  /* Button Click Animation */
  .app .btn{
    position: relative;
    border: 0px;
    border-radius: 30px;
    font-size: 28px;
    padding: 10px;
    width: 180px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* for Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(23, 131, 23);
    color: white;
  }
  
  .btn:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }